{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static  'main/css/style.css' %}">
    <title> main - index </title>
</head>
<body>
  <h1> Shop </h1>

  {% if user.is_authenticated %}
    <h1><a href="{% url 'logout'%}"> {{user.username}} </a></h1>
  {% else %}
    <a href = "{% url 'login' %}" ><button> Login </button> </a>
    <a href = "{% url 'register' %}" ><button> Register </button> </a>
  {% endif %}

  <hr>
  <a href = "{% url 'index' %}" ><button> Home </button> </a>
  <a href = "{% url 'cart' %}" ><button> Cart ({{cart_count}}) </button> </a>
  <hr>
  
  <div class = "obsh">
    {% for i in product_list%}
      <div>
        <h1> {{ i.name }} </h1>
        <h2> ${{ i.price }} </h2>
        <img width="300px" src="{{ i.img.url }}" alt="">

        <form method="post">
          {% csrf_token %} 
          <button type="submit" value = "{{ i.id }}" name = "id"> Add To Cart</button>
        </form>

      </div>
    {% endfor %}
  </div>
</body>
</html>